{% extends 'base.html.twig' %}

{% block title %}Portfolio - Acceuil{% endblock %}

{% block stylesheets %}
{{ parent() }}
{{ encore_entry_link_tags('homepage') }}
{% endblock %}

{% block body %}

<div class="title-homepage d-flex align-items-center">

    <h1> Bienvenue sur mon Portfolio</h1>

</div>
{% endblock %}
