{% extends 'base.html.twig' %}

{% block title %}Portfolio - Accueil{% endblock %}

{% block stylesheets %}
{{ parent() }}
{{ encore_entry_link_tags('homepage') }}
{% endblock %}

{% block body %}


    <div class="jumbotron jumbotron-fluid title-homepage">

        <div class="container">
            <h1>Bienvenue sur mon Portfolio</h1>   
        </div>    
        
        <button type="button" class="btn btn-light button-custum">Parcourir les éléments</button>   
    </div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('homepage') }}
    
     
{% endblock %}