{% extends 'base.html.twig' %}

{% block title %}Portfolio - Acceuil{% endblock %}

{% block stylesheets %}
<!-- Renders a link tag (if your module requires any CSS) -->
<link rel="stylesheet" href="asset/css/homepageStyle.css"> 
{% endblock %}

{% block body %}

<div class="title-homepage">

    <h1> Bienvenue sur mon Portfolio</h1>

</div>
{% endblock %}
