
$break-small: 576px;
$break-medium: 768px;
$break-large: 992px;
$break-extraLarge: 1200px;

/******
header
*******/
header {

    margin-bottom: 20em;

}  

/******
title h1 div parent
*******/
.title-homepage {

    color: rgba($color: #09460e, $alpha: 1.0);
    font-weight: bold;
    background-color: #e8edcd; 
    
  

   
}

/******
title h1
*******/
.title-homepage h1 {
  
    font-size: 1.2em;  
    text-align: center;  

    
    

    @media only screen and (min-width: $break-small) {
     
        font-size: 2em;     
       
    }

    @media only screen and (min-width: $break-medium) {
     
        font-size: 4em;     
       
    }

}




