

 .navbar-custum {
    margin-bottom: 100em;
}  

@media screen and (min-width: 960px) {
    .navbar-custum {
        margin-bottom: 10em;
    }  
} 


.title-homepage {

    color: rgba($color: #09460e, $alpha: 1.0);
    font-weight: bold;
    
  
    h1 {
        font-size: 6.5em;  
    }
}


