<header>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Sidebar-wrapper -->
        <div id="sidebar-wrapper">

            <ul id="home-sidebar" class="sidebar-nav d-flex flex-column align-items-center">

                <!-- title link -->
                <li class="sidebar-brand">
                    <a href="{{path('homepage')}}">
                        Maéva Simao
                    </a>
                </li>


                <!--link -->
                <li class="nav-item ">
                    <a class="nav-link mx-auto" href="#">
                        <span class="pr-2">&#151;</span>
                        Compétences
                        <span class="pl-2">&#151;</span>
                    </a>
                </li>

                <!-- dropdown-->
                <div id="options" class="dropdown">
                    <div class=" title mr-auto">
                        <span class="pr-2">&#151;</span>
                        Expériences
                        <span class="pl-2">&#151;</span>    
                    </div>
                    <ul class="sub_menu merde">
                        <li class="nav-item-block">
                            <a href="#" class="nav-link">
                                Professionnelles
                            </a>
                        </li>
                        <li class="nav-item-block">
                            <a href="#" class="nav-link">
                                Formations
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mr-auto" href="#">
                                <span class="pr-2">&#151;</span>
                                Projets
                                <span class="pl-2">&#151;</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mr-auto" href="#">
                                <span class="pr-2">&#151;</span>
                                Parcours
                                <span class="pl-2">&#151;</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /dropdown-->

                <!--link -->
                <li class="nav-item item-down">
                    <a class="nav-link mr-auto" href="#">
                        <span class="pr-2">&#151;</span>
                        Projets
                        <span class="pl-2">&#151;</span>
                    </a>
                </li>

                <!--link -->
                <li class="nav-item item-down">
                    <a class="nav-link mr-auto" href="#">
                        <span class="pr-2">&#151;</span>
                        Parcours
                        <span class="pl-2">&#151;</span>
                    </a>
                </li>

            </ul>

        </div>
        <!-- /#sidebar-wrapper -->

    </div>
    <!-- /#wrapper -->



    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <div id="toggle-navbar">
            <a id="home-navbar" class="navbar-brand navbar-brand-custum" href="{{path('homepage')}}">Maéva Simao</a>
        </div>

        <!-- NAVBAR COLLAPSE -->
        <div class="collapse navbar-collapse justify-content-lg-end" id="navbarNav">
            <ul class="navbar-nav ">


                <!--link -->
                <li class="nav-item">
                    <a class="nav-link" href="{{path('skill')}}">Compétences</a>
                </li>

                 <!--link -->
                <li class="nav-item">
                    <a class="nav-link" href="#">Expériences</a>
                </li>


                <!--link -->
                <li class="nav-item">
                    <a class="nav-link" href="#">Projets</a>
                </li>

                <!--link -->
                <li class="nav-item">
                    <a class="nav-link" href="#">Parcours</a>
                </li>

            </ul>
        </div>
        <!-- /NAVBAR COLLAPSE -->

    </nav>
    <!-- /NAVBAR -->


</header>

<div class="divBurger burger-top"></div>
<div class="divBurger burger-middle"></div>
<div class="divBurger burger-bottom"></div>