<header>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Sidebar-wrapper -->
        <div id="sidebar-wrapper">

            <ul class="sidebar-nav">

                <li id="home-sidebar" class="sidebar-brand d-flex justify-content-around align-items-center">
                    <a href="#">
                        Maéva Simao
                    </a>
                </li>

                <!--link -->
                <li class="nav-item">
                    <a class="nav-link" href="#">Compétences</a>
                </li>

                <!-- dropdown-->
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Expériences
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Expériences professionnelles</a>
                        <a class="dropdown-item" href="#">Formation</a>
                    </div>
                </li>

                <!--link -->
                <li class="nav-item">
                    <a class="nav-link" href="#">Projets</a>
                </li>

                <!--link -->
                <li class="nav-item">
                    <a class="nav-link" href="#">Parcours</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

    </div>
    <!-- /#wrapper -->

     
    
   <!-- NAVBAR -->
    <nav  class="navbar navbar-expand-lg navbar-light bg-light">

        <div id="toggle-navbar">
            
            <a id="home-navbar" class="navbar-brand" href="#">Maéva Simao</a>  
        </div>
        



        <!-- 
            NAVBAR COLLAPSE
            -->
        <div class="collapse navbar-collapse justify-content-lg-end" id="navbarNav">
            <ul class="navbar-nav ">


                <!--link -->
                <li class="nav-item">
                    <a class="nav-link" href="#">Compétences</a>
                </li>

                <!-- dropdown-->
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Expériences
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Expériences professionnelles</a>
                        <a class="dropdown-item" href="#">Formation</a>
                    </div>
                </li>

                <!--link -->
                <li class="nav-item">
                    <a class="nav-link" href="#">Projets</a>
                </li>

                <!--link -->
                <li class="nav-item">
                    <a class="nav-link" href="#">Parcours</a>
                </li>

            </ul>
        </div>


    </nav>



</header>

<div class="divBurger"></div>
<div class="divBurger"></div>
<div class="divBurger"></div>