<header>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Sidebar-wrapper -->
        <div id="sidebar-wrapper">

            <ul id="home-sidebar" class="sidebar-nav d-flex flex-column align-items-center">

                <li class="sidebar-brand">
                    <a href="#">
                        Maéva Simao
                    </a>
                </li>


                <!--link -->
                <li class="nav-item">


                    <a class="nav-link" href="#">

                        <span class="pr-2">&#151;</span>

                        Compétences

                        <span class="pl-2">&#151;</span>
                    </a>


                </li>

                <!-- dropdown-->
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">

                        <span class="pr-2">&#151;</span>

                        Expériences

                        <span class="pl-2">&#151;</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Expériences professionnelles</a>
                        <a class="dropdown-item" href="#">Formation</a>
                    </div>
                </li>

                <!--link -->
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span class="pr-2">&#151;</span>
                        Projets
                        <span class="pl-2">&#151;</span>
                    </a>
                </li>

                <!--link -->
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span class="pr-2">&#151;</span>
                        Parcours
                        <span class="pl-2">&#151;</span>
                    </a>
                </li>

            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

    </div>
    <!-- /#wrapper -->



    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <div id="toggle-navbar">

            <a id="home-navbar" class="navbar-brand" href="#">Maéva Simao</a>
        </div>




        <!-- 
        NAVBAR COLLAPSE
        -->
        <div class="collapse navbar-collapse justify-content-lg-end" id="navbarNav">
            <ul class="navbar-nav ">


                <!--link -->
                <li class="nav-item">
                    <a class="nav-link" href="#">Compétences</a>
                </li>

                <!-- dropdown-->
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Expériences
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Expériences professionnelles</a>
                        <a class="dropdown-item" href="#">Formation</a>
                    </div>
                </li>

                <!--link -->
                <li class="nav-item">
                    <a class="nav-link" href="#">Projets</a>
                </li>

                <!--link -->
                <li class="nav-item">
                    <a class="nav-link" href="#">Parcours</a>
                </li>

            </ul>
        </div>


    </nav>



</header>

<div class="divBurger burger-top"></div>
<div class="divBurger burger-middle"></div>
<div class="divBurger burger-bottom"></div>