
<!-- 
NAVBAR
-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <!-- 
    NAVBAR BRAND
    -->
    <a class="navbar-brand col-lg-6" href="#">Maéva Simao</a>
    <!-- button-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- 
    NAVBAR COLLAPSE
    -->
    <div class="collapse navbar-collapse col-lg-6 justify-content-lg-end" id="navbarNav">
        <ul class="navbar-nav ">

            <!--link -->
            <li class="nav-item">
                <a class="nav-link" href="#">Accueil</a>
            </li>

            <!--link -->
            <li class="nav-item">
                <a class="nav-link" href="#">Compétences</a>
            </li>
        
            <!-- dropdown-->
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Expériences
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Expériences professionnelles</a>
                    <a class="dropdown-item" href="#">Formation</a>
                    <a class="dropdown-item" href="#">Tout</a>
                </div>
            </li>

            <!--link -->
            <li class="nav-item">
                <a class="nav-link" href="#">Projets</a>
            </li>

             <!--link -->
             <li class="nav-item">
                <a class="nav-link" href="#">A propos</a>
            </li>
        </ul>
    </div>
</nav>